* {
    padding: 0;
    margin: 0;
}

.App {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: blue;
    width: 1280px;
    height: 720px;
}

.background-div {
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: rgb(173, 98, 98);
    z-index: -1;
    margin: 0;
    padding: 0;
}